{% extends 'shop/base.html' %}

{% block title %}Login - Cake Store{% endblock %}

{% block content %}

<div class="container">
    <!-- <div class="jumbotron mt-3">
        <h1>Login</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
        <p></p>
    </div> -->
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card my-5">
                <div class="card-body card-header">
                    <h1 class="card-title text-center">會員登入</h1>
                    <form class="form-signin" method="POST">
                        {% csrf_token %}
                        <div class="form-label-group">
                            <input type="text" id="inputUserame" name="username" class="form-control"
                                placeholder="Username" required autofocus>
                            <!-- <label for="inputUserame">Username</label> -->
                        </div>
                        <p></p>
                        <div class="form-label-group">
                            <input type="password" id="inputPassword" name="password" class="form-control"
                                placeholder="Password" required>
                            <!-- <label for="inputPassword">Password</label> -->
                        </div>
                        <p></p>
                        <div class="custom-control custom-checkbox mb-3">
                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">Remember password</label>
                        </div>
                        <hr class="my-4">
                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">登入</button>
                        <p></p>
                        <p>還沒有帳號嗎? <a href="{% url 'register' %}">註冊</a></p>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}