{% extends 'shop/base.html' %}

{% block title %}Register - Cake Store{% endblock %}

{% block content %}
<style>
    body {
        background-color: #ffffff;
    }

    .register-container {
        margin-top: 50px;
    }

    .card {
        border-radius: 10px;
    }
</style>
<div class="container register-container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                    <h1>會員註冊</h1>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        {{ profile_form.as_p }}
                        <!-- <button type="submit" class="btn btn-primary">註冊</button> -->
                        <hr class="my-4">
                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">註冊</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}